/*Phone*/

table {
	margin: 0% 4% 0% 4%;
}

td, th {
	width: 100%;
	display: inline-block;
	margin-top: 1%;
  	margin-bottom: 1%;
}

p {
	text-align: left;
	margin-top: 5%;
	margin-bottom: 5%;
	font-weight: 300;
	font-size: 1.1875em; /*19/16*/
	padding-left: 3%;
  	padding-right: 3%;
}

.t_card {
	width: 98%;
	margin: 0;
}

.arrow {
	width: 8%;
    margin: 0% 17%;
    display: table-cell;
}

.button {
	border: 1px solid black;
	position: static;
	float: right;
}

.card {
	width: 90%;
	margin: 0% 5% 0% 5%;
}

.c_heading {
	background-color: #e24134;
	color: white;
	font-weight: 200;
	padding: 2%;
	font-size: 20px;
}

.c_title {
	color: black;
	font-size: 33px;
	padding: 2%;
	text-align:left;
}

.c_body {
	color: black;
	padding: 2% 7%;
	background-color:#EFEFEF;
}

.c_img_1 {
	width: 96%;
}

.c_img {
	width:96%; 
	padding-top:2%;
}

.c_text {
	font-size: 19px;
	padding: 0% 2% 2% 2%;
	font-weight: 200;
	text-align: left;
}

.c_subtitle {
	font-size: inherit;
	text-align: left;
	padding: 0% 2% 2% 2%;
	font-weight: 100;
}

.c_subtitle_img {
	font-size: inherit;
	text-align: left;
	padding: 2%;
	font-weight: 100;
}

.share {
	background-color: #1B95E0;
    width: 35%;
    padding: 3% 0%;
    border-radius: 5%;
    border: none;
}

.twitter {
	width: 20%;
    margin-right: 7%;
}

.tweet_text {
	color:white; 
	display:inline;
}

.c_arrow_left {
	width: 25px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 19px;
    color: white;
    line-height: 17px;
    text-align: center;
    font-weight: 100;
    background-color: rgba(204, 0, 102, 0);
    border: 1px solid white;
}

.c_arrow_right {
	width: 25px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 19px;
    color: white;
    line-height: 17px;
    text-align: center;
    font-weight: 100;
    background-color: rgba(204, 0, 102, 0);
    border: 1px solid white;
}

.c_social {
	padding: 5% 0% 2% 0%;
}

.feedback {
    border: none;
    background-color: transparent;
    font-size: 23px;
    color: #E24134;
    padding: 1% 4%;
}

.feedback:hover{
    border: 1px solid #E24124;
    -webkit-transition: opacity 0.2s;
}

/*Tablet*/
@media (min-width: 768px) { 

.card {
	width: 75%;
	margin: 0% 15% 0% 15%;
}

.c_title {
	font-size: 45px;
}

.share {
	width: 15%;
    padding: 1% 0%;
}

}