/*Phone*/
.liam {
  font-family: 'Merriweather', serif;
  background-color: #435784;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.refer {
  color: white;
  font-size: 42px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;  
}
.links {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.padding {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.sample {
  width: 100%;
}

.h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: #C58A59;
  font-size: 33px;
}

.h2 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 20px;
}

.h3 {
  color: rgb(94, 93, 93);
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 10px;
}

.h4 {
  color: rgb(94, 93, 93);
  font-size: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 20px;
}

table, tr, td {
  display: block;
  padding-right: 0px;
  border-top: transparent;
}

a {
  color: white
}

a:hover {
  color: white;
  text-decoration: none;
}

.hvr-fade2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade2:hover, .hvr-fade2:focus, .hvr-fade2:active {
  background-color: rgba(255, 255, 255, 0);
  color: #C58A59;
}

.posters {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  padding-top: 10px;
}

.footer {
  background-color: #505050;
  text-align: center;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #efefef;
}
    
/*Tablet*/
@media (min-width: 768px) { 
  .liam {
    font-family: 'Merriweather', serif;
    background-color: #435784;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  .refer {
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;  
  }
  .links {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
  }

  .padding {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .sample {
    width: 100%;
  }

  .h3 {
    padding-left: 0px;
  }
}

/*Desktop*/
@media (min-width: 992px) {

html, body {
  	font-family: 'PT Serif', serif;
    color: white;
  	height: 100%;
    width: 100%;
    margin: 0;
    text-decoration: none;
    padding:0;
}

img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

table, tr, td {
  color: black;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-right: 81px;
}

.sample {
  width: 532px;
  height: 100%;
  float: left;
}

.padding {
  padding-left: 100px;
  padding-right: 100px;
  text-align: inherit;
}

.liam {
  font-family: 'Merriweather', serif;
  background-color: #435784;
  padding-top: 35px;
  padding-left: 100px;
  text-align: inherit;
}

.refer {
  color: white;
  font-size: 60px;
  padding-bottom: 30px;
  padding-top: 5px;
  font-weight: 700;
  text-align: inherit; 
}

.h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: #C58A59;
  font-size: 45px;
}

.h2 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 32px;
}

.h3 {
  color: rgb(94, 93, 93);
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-left: 564px;
  margin-top: 0px;
}

.h4 {
  color: rgb(94, 93, 93);
  font-size: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 20px;
}

.circular1 {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(/images/trees.jpg) no-repeat;
  }

.circular2 {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(/images/bridge.jpg) no-repeat;
  }

.circular3 {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(/images/writing.jpg) no-repeat;
  }

.posters {
  height: inherit;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  background-color: #505050;
  text-align: center;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #efefef;
}

a {
  color: white
}

a:hover {
  color: white;
  text-decoration: none;
}

.links {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.home {
    font-weight: bold;
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
    color: white;
}

.tpadding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.one {
	display: table-row;
    height: 50%;
    background-image: url(https://41.media.tumblr.com/4cf6ca3d0668ce1dac130d9de6e9a118/tumblr_mj85mooWAr1qcjd6zo1_1280.jpg);
    padding-top: 25%;
    font-size: 60px;
}

.two {
	display: table-row;
    height: 50%;
    background-image: url(https://40.media.tumblr.com/tumblr_me8n3pmBYI1qcjd6zo1_1280.jpg);
    padding-bottom: 25%;
}

ul {
  font-size: 30px;
  list-style-type: none;
}

li:hover {
  color: orange;
}

/* Styling when menu item is selected*/
/*body.liam li.liam, 
body.about li.about {
  text-decoration: underline;
}*/

/*.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: normal;
  padding: 10px;
}*/

/*@media (min-width: 768px) {
.navbar-nav {
  float: none;
}
}*/

/*.audiojs {
    width: 100%;
    background-image: none;
    position: relative;
}

.audiojs p {
    margin-left: -50%;
}

.audiojs .loaded {
    background: #303030;
}

.audiojs .scrubber {
    width: 96.2%;
}*/

/******************************/
/*Hover Code*/
/******************************/

.btn-default {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0); 
    border-color: #FFF;
    border-width: medium;
    width: 33%;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 22px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn-default:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
  color: black;
  border-color: white;
  background-color: rgba(255, 255, 255, 0);
}
.btn-default:hover:before, .btn-default:focus:before, .btn-default:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: black;
  background-color: white;
  border-width: medium;
  width: 20%;
  height: 50px;
  margin-bottom: 22px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-top: 7px;
}

.hvr-fade {
  color: black;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: rgba(255, 255, 255, 0);
  color: #C58A59;
}

.hvr-fade2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade2:hover, .hvr-fade2:focus, .hvr-fade2:active {
  background-color: rgba(255, 255, 255, 0);
  color: #C58A59;
}


/******************************/
/*Stupid-ass codrops code. */
/******************************/

div,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th { 
    margin:0;
    padding:0;
    font-size: 100px;
}

h1 {
    width: 300px;
    padding-left: 30px;
}

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}

/*Image position and total time*/
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s;
    -moz-animation: imageAnimation 36s;
    -o-animation: imageAnimation 36s;
    -ms-animation: imageAnimation 36s;
    animation: imageAnimation 36s; 
}
/*Caption position and total time*/
.cb-slideshow li div { 
    padding-top: 200px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s;
    -moz-animation: titleAnimation 36s;
    -o-animation: titleAnimation 36s;
    -ms-animation: titleAnimation 36s;
    animation: titleAnimation 36s; 
}
/*Font Size*/
.cb-slideshow li div { 
    font-size: 100px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(http://36.media.tumblr.com/tumblr_lzytckrJhu1r75ojlo1_1280.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(http://40.media.tumblr.com/tumblr_ma2onxN9rn1r75ojlo1_1280.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(http://41.media.tumblr.com/69e47c148af07779fd141e024f4409b9/tumblr_n24tpruTlq1r75ojlo1_1280.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(http://40.media.tumblr.com/32b5c6e678b7ee34e4ec0db117b40485/tumblr_mjf1zwvukh1r75ojlo1_1280.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(http://41.media.tumblr.com/tumblr_md7griTwcA1r75ojlo1_1280.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(http://40.media.tumblr.com/tumblr_mcqgfgaJWH1qcjd6zo1_1280.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}

.cb-slideshow li:nth-child(7) span { 
    background-image: url(http://41.media.tumblr.com/tumblr_mcqghkaP6R1r75ojlo1_1280.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/*End of stupid-ass codrops code. */
/**//**//**//**//**//**//**//**//**//**//**//**//**//**/


/*Fade code*/

/*#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s; 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}*/



/*Unused code*/

/*.btn-default:hover {
    color: white;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0); 
    border-color: white;
    border-width: medium;
    width: 33%;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 22px;
    -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
      -ms-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;
}*/

/* Sweep To Right */
/*.hvr-sweep-to-right {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}*/

/*html,body {
    margin:0;
    padding:0;
}*/

/*table {
    border-collapse:collapse;
    border-spacing:0;
}*/

/*fieldset,img { 
    border:0;
}*/

/*input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}*/

/*address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}*/

/*ol,ul {
    list-style:none;
}*/

/*caption,th {
    text-align:left;
}*/

/*q:before,q:after {
    content:'';
}*/

/*abbr,acronym { 
    border:0;
}*/

/*#css-filter-blur:hover { -webkit-filter: blur(2px); filter: url(#blur-effect-1); }*/

 /*-webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
      -ms-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;*/

