/*Phone*/

.t_card {
	width: 98%;
	margin: 0;
}

.arrow {
	width: 8%;
    margin: 0% 17%;
    display: table-cell;
}

.button {
	border: 1px solid black;
	position: static;
	float: right;
}

.card {
	width: 90%;
	margin: 0% 5% 0% 5%;
}

.c_heading {
	background-color: #e24134;
	color: white;
	font-weight: 200;
	padding: 2%;
	font-size: 20px;
}

.c_title {
	color: black;
	font-size: 33px;
	padding: 2%;
	text-align:left;
}

.c_body {
	color: black;
	padding: 2% 7%;
	background-color:#EFEFEF;
}

.c_text {
	font-size: 19px;
	padding: 0% 2% 2% 2%;
	font-weight: 200;
	text-align: left;
}

.c_subtitle {
	font-size: inherit;
	text-align: left;
	padding: 0% 2% 2% 2%;
	font-weight: 100;
}

.c_subtitle_img {
	font-size: inherit;
	text-align: left;
	padding: 2%;
	font-weight: 100;
}

.share {
	background-color: #1B95E0;
    width: 35%;
    padding: 3% 0%;
    border-radius: 5%;
    border: none;
}

.twitter {
	width: 20%;
    margin-right: 7%;
}

.c_arrow_left {
	width: 25px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 19px;
    color: white;
    line-height: 17px;
    text-align: center;
    font-weight: 100;
    background-color: rgba(204, 0, 102, 0);
    border: 1px solid white;
}

.c_arrow_right {
	width: 25px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 19px;
    color: white;
    line-height: 17px;
    text-align: center;
    font-weight: 100;
    background-color: rgba(204, 0, 102, 0);
    border: 1px solid white;
    /*position: absolute;*/
    /*left: 80%;*/
    /*top: 16%;*/
}

.c_social {
	padding: 5% 0% 2% 0%;
}

html, body {
  	font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
}

h1 {
	font-size: 2.625em; /*42/16*/
	margin: 0;
	text-align: left;
	padding: 2%;
}

h2 {
	font-size: 2.0625em; /*27/16*/
	font-weight: 300;
	color: #646262;
	margin: 0;
	text-align: left;
	padding: 2%;
}

h3 {
	float: left;
	margin-left: 4%;
	color: black;
}

h4 {
	color: #337ab7;
	text-align: center;
	margin-bottom: -10%;
}

h5 {
	text-align: left;
	margin-left: 10%;
	color: black;
	font-style: bold;
}

h6 {
	font-size: 4em;
	/*font-style: italic;*/
	font-weight: 300;
}

table {
	margin: 0% 4% 0% 4%;
}

td, th {
	width: 100%;
	display: inline-block;
	margin-top: 1%;
  	margin-bottom: 1%;
}

p {
	text-align: left;
	margin-top: 5%;
	margin-bottom: 5%;
	font-weight: 300;
	font-size: 1.1875em; /*19/16*/
	padding-left: 3%;
  	padding-right: 3%;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

a:hover {
	text-decoration: none;
}

.desktop {
	display: none;
}

.wrap {
	position: relative;
}

.description {
	text-align: center;
	font-size: 22px;
	position: absolute;
	margin: 0;
	padding: 0;
	padding-top: 30%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(76, 76, 76, 0.9);
	border-radius: 5px;
	color: #fff;
	visibility: hidden; 
	opacity: 0; 
	-webkit-transition: opacity 0.2s;
}

.mob_desc {
	text-align: center;
	font-size: 22px;
	color: black;
	margin: 0;
}

.wrap:hover .description {
  visibility: visible;
  opacity: 1;
}

.navbar {
	border: none;
	background-color: white;
	margin-bottom: 0px;
}

.navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-nav {
	font-size: 1.1em;
	padding-top: 3px;
}

.navbar-default .navbar-toggle {
	margin-top: 17px;
}

.navbar-nav>li>a {
	padding-top: 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: white;
}

.navbar-default .navbar-nav>.active>a {
	font-weight: 600;
}

.header {
	font-size: 3.875em; /*62/16*/
	color: black;
	font-weight: 400;
	margin-left: 1%;
    margin-right: 1%;
}

.menu {
	font-size: 1.875em; /*30/16*/
	font-weight: 300;
	margin-left: 100px;
    margin-right: 100px;
}

.footer {
	font-size: 1.1875em; /*19/16*/
	font-weight: 300;
	color: #808080;
	padding-bottom: 10px;
}

.screenshot {
	width: 80%;
	margin: 2% 0% 2% 0%;
	border-style: solid;
	border-width: 1px;
	border-color: grey; 
}

.imgmedium {
	width: 80%;
	margin: 2% 0% 2% 0%;
}

.imglarge {
	width: 80%;
	margin: 2% 0% 2% 0%;
}

.imgsmall {
	width: 80%;
	margin: 2% 0% 2% 0%;
}

.screenshot_b {
	width: 80%;
	margin: 2% 0% 2% 0%;
	border-style: solid;
	border-width: 1px;
	border-color: grey; 
}

.img_port {
	width: 100%;
}

.td_port {
	margin: 2% 2%;
}

.p_port {
	margin-right: 10%;
	color: black;
}

.proj_link {
	padding: none;
}

.poster_link {
	padding: none;
}

/*Tablet*/
@media (min-width: 768px) { 

.card {
	width: 75%;
	margin: 0% 15% 0% 15%;
}

.c_title {
	font-size: 45px;
}

.share {
	width: 15%;
    padding: 1% 0%;
}

h4 {
	margin-left: 3%;
	float: left;
	margin-bottom: 0%;
}

.navbar-nav {
	float: right;
}
}

/*Desktop*/
@media (min-width: 992px) {

html, body {
}

h1 {
	text-align: left;
	margin-left: 10%;
	margin-top: 3%;
	padding: 0;
}

h2 {
	text-align: left;
	margin-left: 10%;
	padding: 0;
}

h4 {
	margin-left: 10%;
}

td, th {
	width: 45%;
	margin: 2% 2% 2% 2%;
}

p {
	margin-left: 10%;
 	margin-right: 35%;
 	margin-top: 1%;
 	margin-bottom: 1%;
 	display: inline-block;
 	padding-left: 0%;
  	padding-right: 0%;
}

.desktop {
	display: inherit;
}

.mobile {
	display: none;
}

.navbar-nav {
	float: right;
	margin-right: 4%;
	font-size: 1.1em;
}

.bsmallr {
	font-size: 4.625em; 
	color: white;
	background-color: #4C4C4C;
	border-radius: 4px;
	width: 35%;
	margin-left: 10%;
	margin-right: 10%;
	float: left;
	display: block;

	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.bsmallr:hover, .bsmallr:focus, .bsmallr:active {
	background-color: #55A7E9;
}

.bsmalll {
	font-size: 4.625em; 
	color: white;
	background-color: #4C4C4C;
	border-radius: 4px;
	width: 35%;
	margin-left: 10%;
	margin-right: 10%;
	display: block;

	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.bsmalll:hover, .bsmalll:focus, .bsmalll:active {
	background-color: #61E685;
}

.screenshot {
	display: inline-block;
	width: 37%;
	margin: 1% 60% 1% 10%;
	border-style: solid;
	border-width: 1px;
	border-color: grey; 
}

.imgmedium {
	display: inline-block;
	width: 46%;
	margin: 1% 60% 1% 10%;
}

.imglarge {
	display: inline-block;
	width: 65%;
	margin: 1% 25% 1% 10%;
}

.imgsmall {
	width: 32%;
	display: inline-block;
	margin: 1% 8% 1% -7%;
}

.screenshot_b {
	display: inline-block;
	width: 37%;
	margin: 1% 60% 1% 10%;
	border-style: solid;
	border-width: 1px;
	border-color: grey; 
}

.proj_link {
	padding: 0% 19% 0% 0%;
}

.poster_link {
	padding: 0% 35% 0% 0%;
}

}


/*@media (min-width: 1024px) { 

.c_arrow_left {
	left: 7%;
	top: 8.8%;
}

.c_arrow_right {
	left: 44%;
    top: 8.8%;
}


}*/



@font-face {
    font-family: 'si';
    src: url('/socicon.eot');
    src: url('/socicon.eot?#ie') format('embedded-opentype'),
         url('/socicon.woff') format('woff'),
         url('/socicon.ttf') format('truetype'),
         url('/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 27px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #C58A59;
    background-color: #ffffff;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-linkedin:before {
    content:'j';
}
.soc-twitter:before {
    content:'a';
}
.soc-instagram:before {
    content:'x';
}

.soc-vimeo:before {
    content:'s';
}

.soc-soundcloud:before {
    content:'n';
}
.soc-github:before {
    content:'Q';
}
