@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
* {
  box-sizing: border-box;
}

html, body {
	padding: 0% 5%;
	background-image: url('paper.jpg');
	background-repeat: repeat;
	background-size: 100%;
font-family: 'Coming Soon', cursive;

}
h1 {
  text-align: left;
  color: #41403E;
  font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 24px;
	text-align: left;
}

.flex-container {
	padding-bottom: 5%;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	background: transparent;
	top: 0;
	float: inherit;
	width: 100%;
}

.flex-item {
	background: transparent;
    padding: 2% 3%;
	margin: 2%;
	line-height: 51px;
	font-weight: bold;
	font-size: 3em;
	width: 100%;

	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	color: #41403E;
	outline: none;
	box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: solid 2px #41403E;
	/*
	Above is shorthand for:
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius:15px 255px;
	*/
}
html section button:hover, body section button:hover {
	box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}

p {
	font-size: 22px;
}

.this-american-life {
	border: none !important;
}

.air-date {
	display: none;
}

.description {
	display: none;
}

.copyright {
	display: none;
}

/*Tablet*/
@media (min-width: 700px) {
	.flex-item {
		width: 40%;
	}
}

